.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
  line-height:normal;
}
._默认样式 {
}
.image {
  color:#000000;
}
.shape {
}
.box_2 {
}
.heading_1 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.line {
}
.droplist {
  color:#000000;
  text-align:left;
}
.heading_11 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.icon {
}
.image1 {
}
._形状 {
}
._文本段落 {
  text-align:left;
}
._图片 {
}
.box_3 {
}
._四级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本链接 {
  color:#0000FF;
}
._鼠标悬停文本链接时 {
}
._流程形状 {
}
.new_style {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:14px;
  color:#2F8CFF;
  text-align:left;
}
.basicbutton-embossed {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
.box_1 {
}
._自定义_三级菜单 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
._自定义_一级菜单 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3BB19C;
  text-align:left;
}
._水平线 {
  color:#333333;
}
.primary-button {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
  line-height:16px;
}
._垂直线 {
}
._自定义_蓝1 {
  font-size:14px;
  color:#FFFFFF;
}
._自定义_蓝2 {
  font-size:14px;
  color:#FFFFFF;
}
._自定义_蓝3 {
  font-size:14px;
  color:#FFFFFF;
}
._自定义_绿1 {
  font-size:14px;
  color:#FFFFFF;
}
._自定义_绿2 {
  font-size:14px;
  color:#FFFFFF;
}
._自定义_绿3 {
  font-size:14px;
  color:#FFFFFF;
}
._自定义_橙1 {
  font-size:14px;
  color:#FFFFFF;
}
._自定义_橙2 {
  font-size:14px;
  color:#FFFFFF;
}
._自定义_橙3 {
  font-size:14px;
  color:#FFFFFF;
}
._自定义_深蓝 {
  font-size:14px;
  color:#333E50;
}
._自定义_标题栏1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:18px;
  color:#3BB19C;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._连接线 {
  color:#333333;
}
._形状1 {
  font-size:13px;
  color:#000000;
}
._文本段落1 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
._文本框 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
._多行文本框 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
._复选框 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
._单选按钮 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
._下拉列表框 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
.basicbutton {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
._形状2 {
}
.basicbutton-outline {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#1BBC9C;
  text-align:center;
}
._水平线1 {
}
._水平线2 {
}
._文本框1 {
  color:#000000;
  text-align:left;
}
._图片1 {
  color:#000000;
}
._默认样式1 {
}
.title3 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3BB19C;
  text-align:left;
}
.basictextlabel {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:13px;
  color:#1BBC9C;
  text-align:center;
}
._分类按纽 {
  font-size:16px;
  text-align:left;
  line-height:26px;
}
._默认样式2 {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.text_field {
  color:#000000;
  text-align:left;
}
._文本段落2 {
  text-align:left;
}
._复选框1 {
  text-align:left;
}
.link_button {
  color:#169BD5;
}
.grouped-buttons {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
  line-height:16px;
}
.box_31 {
}
.box_21 {
}
.tree_node {
  text-align:left;
}
.basicbutton1 {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
.image2 {
}
._文本段落3 {
  text-align:left;
}
._二级标题1 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._鼠标按下文本链接时 {
}
.icon1 {
}
._图片2 {
  color:#000000;
}
._水平线3 {
}
._下拉列表框1 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
._表格 {
}
.text_area {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.radio_button {
  text-align:left;
}
.ellipse {
}
.table_cell {
}
.icon2 {
}
.checkbox {
  text-align:left;
}
.html_button {
  text-align:center;
}
._形状3 {
}
._一级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
._文本段落4 {
  text-align:left;
}
.line1 {
}
._形状4 {
  color:#333333;
}
